.tab {
    background-color:rgb(88, 86, 86);
    display: flex;
    width: 1500px ;
   border-radius: 10px;
}

.tab-item {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

.tab-item h2 {
    color: rgb(255, 107, 181);
    text-align: center;
}

.tab-item:hover {
    background-color: rgb(224, 211, 211);
}